*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.navbar{
    margin: 0;
    padding: 0;
    background-color: #CD0000;
    overflow: hidden; 
    display: flex;
}
.tecs h2{
    color: #000;
    font-family: Aclonica;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.tecs h4{
    color: #000;
font-family: Abhaya Libre;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: capitalize;
}
.tecs{
    margin: auto
}

.box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin: auto; 
}

.box img{
    height: 50px;
    width: 50px;
    padding: 10px;
}
.left-pic{
    width:425px ;
    height: 606px;
    display: grid;
    padding: 10px;
    grid-template-columns:auto auto auto;
    justify-content: start;
    align-items: center;
}
.dine button{
        color: #000;
        font-family: Content;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        padding: 10px 15px;
        border-radius: 170px;
        background: #FFD000;
        border: 0;
        margin: 0 10px;
}
.dine{ 
    width: 350px;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
}
@media only screen and (max-width:600px){
    .navbar{
        width: auto;
    }
    .dine{
        display: contents;
    }
    form{
        display: contents;
        margin-top: 50%;
    }
}
